<ion-header>
  <ion-navbar start>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
      <ion-badge *ngIf="this.statusEventService.getGlobalSystemSeverity() != NORMAL" [color]="this.statusEventService.getGlobalSystemSeverity() === ALERT ? 'danger' : 'primary'">{{statusEventService.getCountOpenStatusEvents()}}</ion-badge>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- OK status -->
  <div>
    <ion-item>
      <div id="gauge"></div>
    </ion-item>
  </div>
  <!-- LEAK status -->
  <div *ngIf="this.statusEventService.isLiveEventInSystem()">
    <ion-item no-lines text-warp>
      <h1 ion-text color="danger">{{"LIVE_EVENT_DETECTED" | translate}}</h1>
      <p>
        {{"EVENT_HAS_STARTED" | translate}}: {{this.statusEventService.getLiveEventStartTime()}}
        <br>
        {{"EVENT_TOTAL_FLOW" | translate}}: {{this.statusEventService.getLiveEventTotalFlow()}}
      </p>
    </ion-item>
    <ion-item text-center no-lines class="header-status-alert-ind">
      <ion-badge color="danger" (click)="openHandleLeakPage(this.statusEventService.getLiveEventID())">Handle Leak Event</ion-badge>
    </ion-item>
  </div>
  <div>
    <img id="statusImage" width="100%" style="display:inline-block" src="{{this.systemStatusImageURL}}" />
  </div>
</ion-content>
