<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
        <ion-badge *ngIf="this.statusEventService.getGlobalSystemSeverity() != NORMAL" [color]="this.statusEventService.getGlobalSystemSeverity() === ALERT ? 'danger' : 'primary'">{{statusEventService.getCountOpenStatusEvents()}}</ion-badge>
      </button>
      <img width="170px" style="display:inline-block" height="50px" src="assets/imgs/AS_logo.png" />
    </ion-navbar>
  </ion-header>
<ion-content>
  <!-- OK status -->
  <div > <!--*ngIf="modelService.getStatus() != 'leak'; else leak"> -->

    <ion-item>
      <!-- <ion-item *ngIf="modelService.getStatus() === 'good'" no-lines class="header-label good">SYSTEM OK!</ion-item> -->
      <!-- <ion-item *ngIf="modelService.getStatus() === 'warn'" no-lines class="header-label good">SYSTEM NEEDS ATTENTION</ion-item> -->
      <!-- <ion-item no-lines class="header-status-alert-ind">
        Current Flow: {{modelService.getCurrentFlow()}}
      </ion-item> -->
      <!-- <ion-item item-end id="gauge" style="width:100px"></ion-item> -->
      <div id="gauge"></div>
    </ion-item>
  </div>
  <!-- LEAK status -->
  <ng-template #leak>
    <div>
      <ion-item>
        <div id="gauge"></div>
        <!-- <ion-item no-lines class="header-label">LEAK DETECTED</ion-item> -->
        <ion-badge color="danger" (click)="openHandleLeakPage()">Handle Leak Event</ion-badge>
        <ion-item no-lines class="header-status-alert-ind">
          <br>Current Flow: {{flowService.getCurrentFlow()}} ({{flowService.getCurrentFlow() > 12 ? "Huge Leak" : modelService.getCurrentFlow()
          > 5 ? "Decent Leak" : "Small Leak"}})
        </ion-item>
      </ion-item>
    </div>
  </ng-template>
  <div>
    <img id="statusImage" width="100%" style="display:inline-block" src="{{this.systemStatusImageURL}}" />
  </div>
</ion-content>