<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
        <ion-badge *ngIf="this.statusEventService.getGlobalSystemSeverity() !== 3 && statusEventService.getCountOpenStatusEvents() && statusEventService.getCountOpenStatusEvents() > 0" [color]="this.statusEventService.getGlobalSystemSeverity() === 1 ? 'redAlert' : 'yellowAlert'">{{statusEventService.getCountOpenStatusEvents()}}</ion-badge>
      </button>
      <img width="170px" style="display:inline-block" height="50px" src="assets/imgs/AS_logo.png"/>
    </ion-navbar>
  </ion-header>
<ion-content no-padding no-margin>
  <!-- OK status -->

  

  <!-- LEAK status -->
  <div start *ngIf="this.statusEventService.isLiveEventInSystem()">      
    <ion-label text-center ion-text color="redAlert"><h1>{{"LIVE_EVENT_DETECTED" | translate}}</h1></ion-label>


    <ion-grid center no-padding no-margin bulk>
        <ion-row align-items-center >
  
          <!-- <ion-col >
              <img item-start src="assets/imgs/Tap.gif" />
          </ion-col> -->
          <ion-col >
              <ion-item no-lines text-center>
                  <ion-label>
                    {{"EVENT_HAS_STARTED" | translate}}: {{this.statusEventService.getLiveEventStartTime()}}
                  <br>
                    {{"EVENT_TOTAL_FLOW" | translate}}: {{this.statusEventService.getLiveEventTotalFlow()/1000}}
                  <!-- <ion-item text-center no-lines class="header-status-alert-ind"> -->
                  </ion-label>
               </ion-item>        
          </ion-col>
        </ion-row>
    </ion-grid>
      <!-- <ion-item no-lines>
    <ion-label>
      <ion-badge color="danger" (click)="openHandleLeakPage(this.statusEventService.getLiveEventID())">Handle Leak Event</ion-badge>
    </ion-label>
    </ion-item> -->
  </div>    
<ion-grid center no-padding no-margin bulk>
  <ion-row>

    <ion-col col-7 *ngIf="this.statusEventService.isLiveEventInSystem()" item-start>
      <img item-start src="assets/imgs/Tap.gif" width="120%" height="120%"/>
   </ion-col>
   <ion-col>  
      <div style="vertical-align: center;" id="gauge"></div>
    </ion-col>
  </ion-row>
</ion-grid>    
  <button  (click)="this.openHandleLeakPage(this.statusEventService.getLiveEventID())">
  <img id="statusImage" width="100%" style="position: absolute; display:inline-block; margin: 0 auto;bottom: 10px;" src="{{this.systemStatusImageURL}}"  />
  </button>
</ion-content>
