page-handle-leak {
    .img-show {
        height: 15vh;
        width: 15vh;
        margin: auto;
        display: block;
        opacity: 1; 
    }

    .img-show2 {
        height: 5vh;
        width: 5vh;
        margin: auto;
        display: block;
        opacity: 1; 
    }

}
