<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <img width="170px" style="display:inline-block" height="50px" src="assets/imgs/AS_logo.png"/>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- OK status -->
  <div *ngIf = "data.status != 2; else bad">
    <ion-item class="header-status" [ngClass]="{warn: data.status === 3}">
      <!-- <div id="status-text">System Status: OK</div> -->
      System Status: OK
    </ion-item>
    <!-- <hr class="main-page-hr"/> -->
    <!-- <hr class="main-page-hr"/> -->
    <ion-list>
      <ion-item *ngFor="let item of data.items" (click)="itemTapped($event, item)">
        <ion-icon [name]="item.icon" item-start></ion-icon>
        <ion-label>{{item.title}}</ion-label>
        <ion-toggle *ngIf = "item.type === 2" [(ngModel)]="item.valve" (ngModelChange)="handleToggleChange($event, item)" item-content></ion-toggle>
        <div class="item-note" item-end>
          {{item.state}}
        </div>
      </ion-item>
    </ion-list>
  </div>
  <!-- BAD status -->
  <ng-template #bad>
    <div>
      <ion-item class="header-status bad">
      <!-- <div class="header-status-bad"> -->
        System Status: BAD
        <ion-item no-lines class="header-status-alert-ind">
          Alert Indicator: {{data.alert.indicator}}<br>Detection Time: {{data.alert.detectionTime}}
        </ion-item>
      </ion-item>
      <!-- <hr class="main-page-hr"/> -->
      <!-- <hr class="main-page-hr"/> -->
      <ion-list>
        <button ion-item *ngFor="let item of data.wizardSteps" (click)="itemTapped($event, item)">
          <ion-img src={{item.icon}} item-start></ion-img>
          {{item.title}}
          <div class="item-note" item-end>
            {{item.action}}
          </div>
        </button>
      </ion-list>
    </div>
  </ng-template>
  <!-- <hr class="main-page-hr"/>
  <div class="main-valve">
    <div id="status-text">Main Valve</div>
  </div>
  <hr class="main-page-hr"/>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-start></ion-icon>
      {{item.title}}
      <div class="item-note" item-end>
        {{item.state}}
      </div>
    </button>
  </ion-list> -->

  <!-- <button ion-button secondary menuToggle>Toggle Menu</button> -->
</ion-content>
