<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <img width="170px" style="display:inline-block" height="50px" src="assets/imgs/AS_logo.png"/>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- OK status -->
  <div *ngIf = " data.status % 2 != 0; else elsetag">
    <ion-item class="header-status">
      <!-- <div id="status-text">System Status: OK</div> -->
      System Status: OK
    </ion-item>
    <!-- <hr class="main-page-hr"/> -->
    <ion-item class="main-valve">
      <!-- <div id="status-text"></div> -->
      <ion-label>Main Valve</ion-label>
      <ion-toggle [(ngModel)]="data.mainValve" (ionChange)="change()"></ion-toggle>
    </ion-item>
    <!-- <hr class="main-page-hr"/> -->
    <ion-list>
      <button ion-item *ngFor="let item of data.items" (click)="itemTapped($event, item)">
        <ion-icon [name]="item.icon" item-start></ion-icon>
        {{item.title}}
        <div class="item-note" item-end>
          {{item.state}}
        </div>
      </button>
    </ion-list>
  </div>
  <!-- BAD status -->
  <ng-template #elsetag>
    <div>
      <ion-item class="header-status-bad">
      <!-- <div class="header-status-bad"> -->
        System Status: BAD
        <ion-item>
          Alert Indicator: MP100
        </ion-item>
      </ion-item>
      <!-- <hr class="main-page-hr"/> -->
      <ion-item class="main-valve">
        <!-- <div id="status-text"></div> -->
        <ion-label>Main Valve</ion-label>
        <ion-toggle [(ngModel)]="data.mainValve" (ionChange)="change()" item-content></ion-toggle>
      </ion-item>
      <!-- <hr class="main-page-hr"/> -->
      <ion-list>
        <button ion-item *ngFor="let item of data.wizardSteps" (click)="itemTapped($event, item)">
          <ion-img src={{item.icon}} item-start></ion-img>
          {{item.title}}
          <div class="item-note" item-end>
            {{item.action}}
          </div>
        </button>
      </ion-list>
    </div>
  </ng-template>

  <!-- <hr class="main-page-hr"/>
  <div class="main-valve">
    <div id="status-text">Main Valve</div>
  </div>
  <hr class="main-page-hr"/>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-start></ion-icon>
      {{item.title}}
      <div class="item-note" item-end>
        {{item.state}}
      </div>
    </button>
  </ion-list> -->

  <!-- <button ion-button secondary menuToggle>Toggle Menu</button> -->
</ion-content>
