page-home {

    .ion-content {
        background: #283147 !important;
    }

    .bg {
        background: linear-gradient(to bottom,#283147, #fff 100% );
    }

    .scroll-content {
        overflow: hidden;
    }
    
    ion-list {
        overflow-y: auto;
        max-height: 72vh;
    }

    .header-status {
        box-sizing: border-box;
        // background-color: lightgreen;
        // background: radial-gradient(rgb(45, 245, 162), rgb(8, 153, 39)); /* Standard syntax (must be last) */
        width: 100%;
        min-height: 20vh;
        max-height: 20%;
      // position: absolute;
        top: 0;
        left: 0;
        margin: 0 auto;
        text-align:center;
        display: table;
    }

    .header-status.leak {
        box-sizing: border-box;
        background: red; /* For browsers that do not support gradients */
        background: radial-gradient(rgb(247, 81, 81), rgb(212, 11, 11)); /* Standard syntax (must be last) */
        width: 100%;
        min-height: 20vh;
        max-height: 20%;
        // position: absolute;
        top: 0;
        left: 0;
        margin: 0 auto;
        text-align:center;
        display: table;
    }

    .header-label {
        background-color: rgba(212,11,11,0.0);
        text-align: center;
    }

    .header-label.good {
        background-color: rgba(8, 153, 39,0);
        text-align: center;
    }

    .header-status.warn {
        box-sizing: border-box;
        background-color: yellow;
        background: radial-gradient(rgb(243, 241, 122), rgb(247, 230, 2)); /* Standard syntax (must be last) */
        width: 100%;
        min-height: 20vh;
        max-height: 20%;
        // position: absolute;
        top: 0;
        left: 0;
        margin: 0 auto;
        text-align:center;
        display: table;
    }

    .header-status-alert-ind {
        background-color: rgba(212,11,11,0);
        border: 1px solid rgb(161, 150, 150);
        font-size: 14px;
        // width: 100%;
        // min-height: 20vh;
        // max-height: 20%;
        // // position: absolute;
        // top: 0;
        // left: 0;
        // margin: 0 auto;
        // text-align:center;
        // display: table;
    }

    .main-valve {
        box-sizing: border-box;
        background-color: lightgray;
        width: 100%;
        min-height: 10vh;
        max-height: 10%;
        // position: absolute;
        top: 0;
        left: 0;
        margin: 0 auto;
        text-align:center;
        display: table;
    }

    #status-text {
        display: table-cell;
        vertical-align: middle;
    }

    .main-page-hr {
        margin-block-start:0.1em;
        margin-block-end:0.1em;
    }
}
