page-home {

  .scroll-content {
    overflow: hidden;
  }

  ion-list {
    overflow-y: auto;
    max-height: 72vh;
  }

  .header-status {
      box-sizing: border-box;
      background-color: lightgreen;
      width: 100%;
      min-height: 20vh;
      max-height: 20%;
      // position: absolute;
      top: 0;
      left: 0;
      margin: 0 auto;
      text-align:center;
      display: table;
  }

  .header-status.bad {
      box-sizing: border-box;
      background-color: red;
      width: 100%;
      min-height: 20vh;
      max-height: 20%;
      // position: absolute;
      top: 0;
      left: 0;
      margin: 0 auto;
      text-align:center;
      display: table;
  }

  .header-status.warn {
      box-sizing: border-box;
      background-color: yellow;
      width: 100%;
      min-height: 20vh;
      max-height: 20%;
      // position: absolute;
      top: 0;
      left: 0;
      margin: 0 auto;
      text-align:center;
      display: table;
  }

  .header-status-alert-ind {
      background-color: red;
      border: 1px solid rgb(161, 150, 150);
      font-size: 14px;
      // width: 100%;
      // min-height: 20vh;
      // max-height: 20%;
      // // position: absolute;
      // top: 0;
      // left: 0;
      // margin: 0 auto;
      // text-align:center;
      // display: table;
  }

  .main-valve {
      box-sizing: border-box;
      background-color: lightgray;
      width: 100%;
      min-height: 10vh;
      max-height: 10%;
      // position: absolute;
      top: 0;
      left: 0;
      margin: 0 auto;
      text-align:center;
      display: table;
  }

  #status-text {
      display: table-cell;
      vertical-align: middle;
  }

  .main-page-hr {
    margin-block-start:0.1em;
    margin-block-end:0.1em;
  }
}
