<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <img width="170px" style="display:inline-block" height="50px" src="assets/imgs/AS_logo.png"/>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- <div class="header-status" [ngClass]="{'header-status-bad' : status % 3 == 0}">
    <div *ngIf=" status % 3 != 0" id="status-text">System Status: OK</div>
    <div *ngIf=" status % 3 == 0" id="status-text">System Status: BAD</div>
  </div> -->

  <div *ngIf = " status % 2 != 0; else elsetag" class="header-status">
    <div id="status-text">System Status: OK</div>
  </div>
  <ng-template #elsetag>
    <div class="header-status-bad">
      <div id="status-text">System Status: BAD</div>
    </div>
  </ng-template>

  <hr class="main-page-hr"/>
  <div class="main-valve">
    <div id="status-text">Main Valve</div>
  </div>
  <hr class="main-page-hr"/>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-start></ion-icon>
      {{item.title}}
      <div class="item-note" item-end>
        {{item.state}}
      </div>
    </button>
  </ion-list>

  <!-- <button ion-button secondary menuToggle>Toggle Menu</button> -->
</ion-content>
