<ion-menu [content]="content" type="overlay" [attr.side]="this.platform.dir()==='ltr'? 'left':'right'"  [side]="this.platform.dir()==='ltr'? 'left':'right'">
    <ion-header>
    <ion-toolbar>
      <ion-title start>{{ "MENU" | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list >
      <button  menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title | translate}}
        <!-- <ion-badge *ngIf="this.statusEventService.getGlobalSystemSeverity() != NORMAL" [color]="this.statusEventService.getGlobalSystemSeverity() === ALERT ? 'danger' : 'primary'">{{statusEventService.getCountOpenStatusEvents()}}</ion-badge> -->
      </button>
    </ion-list>
  </ion-content>

</ion-menu>


<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>