
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
      <ion-badge *ngIf="(modelService.getCountOpenEvents() > 0) && (modelService.getStatus() === 'leak')" color="danger">{{modelService.getCountOpenEvents()}}</ion-badge>
      <ion-badge *ngIf="(modelService.getCountOpenEvents() > 0) && (modelService.getStatus() != 'leak')">{{modelService.getCountOpenEvents()}}</ion-badge>
    </button>
    <img width="170px" style="display:inline-block" height="50px" src="assets/imgs/AS_logo.png" />
  </ion-navbar>
</ion-header>


<ion-content padding>

</ion-content>
