page-notaleak {
    .img-show {
        height: 14vh;
        width: 14vh;
        margin: auto;
        display: block;
        opacity: 1; 
    }
    
    .img-hide {
        height: 14vh;
        width: 14vh;
        margin: auto;
        display: block;
        opacity: 0; 
    }
}
